.MessageForm {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.MessageForm-textarea {
    height: 100px;	
	resize: none; 
	overflow: auto;

    width: 800px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.MessageForm-textarea:focus {
    border: solid 3px #77bde0;	
}

.MessageForm-btn {
    border: 2px solid #ff9900;
    background-color: #ff9900;
    padding: 8px 60px;
    border-radius: 7px;
    font-family: 'Sniglet', cursive;
    color: #ffffff;
    font-weight: bold;
    transition-duration: .5s;
}

.MessageForm-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.MessageForm-btn:active {
    background-color: #dddddd;
}