/* Пункт списка */
.Item {
    display: flex;
    justify-content: flex-start;
    transition: background-color 1s;
    padding-left: 10px;
}

.Item_active {
    background-color: skyblue;
}

.Item-id {
    padding: 20px 10px 20px 20px;
}

.Item-title {
    width: 100%;
    padding: 20px 10px;
    color: #000;
}

.Item-title a{
    color: #000;
    text-decoration: none;
}

.Item-title a:hover{
    color: #000;
    text-decoration: underline;
}


.Item-right {
    padding: 20px 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Item-price {
    padding: 0 10px;
    white-space: nowrap;
}
